html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #484848;
  line-height: 1.4; }

header {
  background-color: #005b97; }
  header .header {
    overflow: hidden;
    background-color: #005b97;
    max-width: 1200px;
    margin: 0 auto; }
    header .header .header a {
      float: left;
      color: #000;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px; }
    header .header .header a.cabotcruise {
      font-size: 25px;
      font-weight: bold; }
    header .header .header a:hover {
      background-color: #ddd;
      color: #000; }
    header .header .header a.active {
      background-color: #ccc;
      color: #fff; }
    header .header #userGreeting {
      color: #fff;
      font-size: 85%;
      position: absolute;
      top: 0;
      padding-top: 10px;
      margin-left: 30%; }
    header .header .header-right {
      float: right;
      padding-top: 45px;
      background-color: #FCCB51;
      padding: 3% 2% 2%; }
      header .header .header-right .telephone {
        text-decoration: none;
        color: #005b97;
        font-size: 130%;
        font-family: "Assistant", sans-serif;
        font-weight: bold;
        margin: 0 auto; }
    @media screen and (max-width: 500px) {
      header .header .header a {
        float: none;
        display: block;
        text-align: left; }
      header .header .header-right {
        float: none; } }

input {
  font-size: 110%;
  width: 120px; }

input[type=search]:focus {
  width: 290px;
  background-color: #fff;
  border-color: #66CC75; }

/* -------------------- MENU ------------------- */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9; }

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

/* ------------- DROPDOWMN SNIPPET -------------*/
.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #FCCB51;
  color: #000; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

/* ------------- END OF DROPDOWN SNIPPET ------------ */
.topnav a:hover {
  background-color: #ddd;
  color: #000; }

.topnav a.active {
  background-color: #2196F3;
  color: #fff; }

.topnav .search-container {
  float: right; }

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none; }

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer; }

.topnav .search-container button:hover {
  background: #ccc; }

/* NEW HAMBURGER ICON RULES */
.topnav .icon {
  display: none; }

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none; }

  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px; }

  .topnav input[type=text] {
    border: 1px solid #ccc; }

  .dropdown {
    float: none; }

  .dropdown .dropbtn {
    width: 600px;
    text-align: left; }

  .dropdown-content {
    width: 600px; } }
/* NEW EXTRA MEDIA QUERIES FOR THE HAMBURGER ICON  */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }

  .topnav a.icon {
    display: block; } }
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }

  .topnav.responsive .icon {
    right: 0;
    top: 0; }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; }

  .topnav a.active {
    color: #fff; }

  .menuIcon {
    color: #fff; }

  .newArticles h1 {
    margin-left: 2%; } }
#wrapper {
  max-width: 1200px;
  margin: 0 auto; }
  #wrapper img {
    width: 100%; }

.newArticles {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 25px;
  font-size: 190%;
  color: #484848; }
  .newArticles h1 {
    padding-top: 30px; }

.blogArticles {
  margin: 0 auto;
  display: grid;
  margin: 2%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  height: 550px; }
  .blogArticles a {
    text-decoration: none; }
  .blogArticles .article1 {
    grid-area: article1;
    background-image: url("../img/luxury.jpg");
    background-size: cover;
    margin-bottom: 10%;
    opacity: .75;
    position: relative;
    height: 250px; }
    .blogArticles .article1 div.description {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 12px;
      margin-top: 0;
      position: relative;
      top: 0;
      color: #fff; }
      .blogArticles .article1 div.description h2 {
        font-size: 160%;
        font-weight: 700;
        text-align: center; }
    .blogArticles .article1 div.date {
      background-color: rgba(0, 91, 151, 0.7);
      color: #fff;
      padding: 10px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
  .blogArticles .article1:hover {
    opacity: 1; }
  .blogArticles .article2 {
    grid-area: article2;
    background-image: url("../img/food.jpg");
    background-size: cover;
    margin-bottom: 10%;
    opacity: .75;
    position: relative;
    height: 250px; }
    .blogArticles .article2 .description {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 12px;
      color: #fff;
      position: relative;
      top: 0; }
      .blogArticles .article2 .description h2 {
        font-size: 160%;
        font-weight: 700;
        text-align: center; }
    .blogArticles .article2 .date {
      background-color: rgba(0, 91, 151, 0.7);
      color: #fff;
      padding: 10px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
  .blogArticles .article2:hover {
    opacity: 1; }
  .blogArticles .article3 {
    grid-area: article3;
    background-image: url("../img/snorkeler-with-fish.jpg");
    background-size: cover;
    margin-bottom: 10%;
    position: relative;
    opacity: .75;
    height: 250px; }
    .blogArticles .article3 .description {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 12px;
      position: relative;
      top: 0;
      color: #fff; }
      .blogArticles .article3 .description h2 {
        font-size: 160%;
        font-weight: 700;
        text-align: center; }
    .blogArticles .article3 .date {
      background-color: rgba(0, 91, 151, 0.7);
      color: #fff;
      padding: 10px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
  .blogArticles .article3:hover {
    opacity: 1; }
  .blogArticles .article4 {
    grid-area: article4;
    background-image: url("../img/waterfall.jpg");
    background-size: cover;
    margin-bottom: 10%;
    opacity: .75;
    position: relative;
    height: 250px; }
    .blogArticles .article4 .description {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 12px;
      color: #fff;
      position: relative;
      top: 0; }
      .blogArticles .article4 .description h2 {
        font-size: 160%;
        font-weight: 700;
        text-align: center; }
    .blogArticles .article4 .date {
      background-color: rgba(0, 91, 151, 0.7);
      color: #fff;
      padding: 10px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
  .blogArticles .article4:hover {
    opacity: 1; }

.cruiseContainer {
  margin: 0 auto; }
  .cruiseContainer .title {
    font-size: 140%;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%; }
  .cruiseContainer .excursion {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%; }
    .cruiseContainer .excursion .block1 {
      margin-bottom: 3%; }
      .cruiseContainer .excursion .block1 img.liner {
        width: 100%;
        margin: 0 auto; }
    .cruiseContainer .excursion .block2 {
      margin-left: 1%; }
      .cruiseContainer .excursion .block2 h2 {
        font-size: 125%;
        font-weight: bold;
        margin-bottom: 15px; }
      .cruiseContainer .excursion .block2 p {
        margin-bottom: 2%; }
      .cruiseContainer .excursion .block2 button {
        font-size: 100%;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        background-color: #ccc;
        margin-bottom: 5%;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s; }
      .cruiseContainer .excursion .block2 button:hover {
        border-radius: 5px;
        background-color: #2581DC;
        color: #fff; }

.form {
  max-width: 1200px;
  margin: 0 auto; }
  .form .column {
    width: 100%;
    margin-left: 3%; }
    .form .column .title {
      font-size: 140%;
      font-weight: bold;
      margin-bottom: 2%;
      margin-top: 2%; }
    .form .column input:invalid {
      background-color: #ffebe6; }
    .form .column form:invalid {
      border: 1px solid #888888; }
    .form .column input:valid {
      background-color: #fff;
      width: 340px;
      padding: 5px;
      margin-bottom: 1%;
      border: 1px solid #ccc; }
    .form .column input:required {
      border-color: red;
      border-width: 1px;
      width: 340px;
      padding: 5px;
      margin-bottom: 1%; }
    .form .column ::placeholder {
      font-size: 80%;
      color: #A9A9A9; }
    .form .column .states {
      padding: 5px;
      height: 35px;
      width: 350px;
      font-size: 100%;
      border: 1px solid #ccc; }
    .form .column .cruises {
      padding: 5px;
      height: 35px;
      width: 350px;
      font-size: 100%;
      border: 1px solid #ccc; }
    .form .column .button {
      background-color: #e9e9e9;
      /* Green */
      border-radius: 5px;
      color: #484848;
      padding: 8px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      margin-bottom: 5%;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
    .form .column .button2:hover {
      background-color: #2196F3;
      color: #fff;
      border-radius: 5px; }

.agents {
  width: 100%;
  margin: 0; }
  .agents .agentHeader {
    background-color: #FCCB51;
    margin-bottom: 3%;
    padding: 15px 0; }
    .agents .agentHeader h1 {
      font-size: 135%;
      font-weight: bold;
      margin-left: 2%; }
  .agents .agentImg figure img {
    width: 100%;
    margin: 0 auto; }
  .agents .agentImg figure figcaption {
    border-bottom: 1px dotted #a8a8a8;
    margin-bottom: 15px;
    text-align: center;
    padding: 1%; }
  .agents .agentContent {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%; }

footer {
  background: #fff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #C8C8C8, #fff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #C8C8C8, #fff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "contact" "newsletter" "cruiseInfo";
  grid-column-gap: 10px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin: 0 3% 6% 3%; }
  .info h2 {
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 135%;
    font-weight: 600; }
  .info .contact {
    margin-bottom: 3%;
    grid-area: contact; }
    .info .contact a {
      text-decoration: none;
      color: #000; }
    .info .contact a:hover, .info .contact a:active {
      color: #005b97; }
  .info .newsletter {
    grid-area: newsletter;
    margin-bottom: 3%;
    margin-right: 2%; }
    .info .newsletter input {
      width: 97%;
      padding: 3% 1%;
      border-radius: 5px;
      margin-top: 4%; }
    .info .newsletter button.custom {
      width: 100%;
      padding: 3% 1%;
      margin-top: 2%;
      border-radius: 5px;
      font-size: 110%;
      background-color: #FCCB51;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
    .info .newsletter button.custom:hover, .info .newsletter button.custom:active {
      background-color: #B0B0B0; }
  .info .cruiseInfo {
    grid-area: cruiseInfo; }

.social {
  background-image: url("../img/brushed_alu_dark.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
  font-size: 120%; }
  .social .icons {
    color: #fff;
    font-size: 200%; }
  .social .pad {
    color: #C8C8C8;
    padding-right: 10px; }
  .social .pad:hover {
    color: #484848; }
  .social .clearfix {
    overflow: auto; }

.copyright {
  padding: 5%;
  text-align: center;
  background-color: #005b97;
  color: #cce6ff;
  font-size: 95%; }
  .copyright a {
    text-decoration: none;
    color: #cce6ff; }
  .copyright a:hover {
    color: #A9A9A9; }

@media only screen and (min-width: 35em) {
  .topnav .icon {
    display: none; }

  .topnav .search-container button {
    float: right;
    min-width: 0; }

  .dropdown-content {
    min-width: 200px; }

  .cruise {
    padding-left: 0; }

  .numbertext {
    margin-left: 0; }

  .newArticles h1 {
    margin-left: 2%; }

  .blogArticles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px;
    height: 610px; }
    .blogArticles .article1 {
      margin-bottom: 1%;
      height: 250px; }
    .blogArticles .article2 {
      margin-bottom: 1%;
      height: 250px; }
    .blogArticles .article3 {
      margin-bottom: 1%;
      height: 250px; }
    .blogArticles .article4 {
      margin-bottom: 1%;
      height: 250px; }

  .cruiseContainer {
    max-width: 1200px;
    margin: 0 auto; }
    .cruiseContainer .title {
      margin-left: 3%; }
    .cruiseContainer .excursion {
      display: flex;
      flex-direction: row;
      margin-left: 3%;
      margin-right: 3%; }
      .cruiseContainer .excursion .block1 {
        flex-grow: 1;
        margin-bottom: 3%; }
        .cruiseContainer .excursion .block1 img.liner {
          width: 300px;
          height: 200px; }
      .cruiseContainer .excursion .block2 {
        flex-grow: 2;
        margin-left: 3%; }
        .cruiseContainer .excursion .block2 h2 {
          font-size: 125%;
          font-weight: bold;
          margin-bottom: 15px; }
        .cruiseContainer .excursion .block2 p {
          margin-bottom: 2%; }
        .cruiseContainer .excursion .block2 button {
          float: right;
          margin-bottom: 3%;
          width: 175px; }

  .form {
    max-width: 1200px;
    margin: 0 auto; }
    .form .column {
      width: 350px;
      margin-left: 2%;
      margin-right: 2%; }

  .agents {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 3%; }
    .agents .agentHeader {
      background-color: #FCCB51;
      margin-top: -15px;
      margin-bottom: 3%;
      padding: 15px 0; }
      .agents .agentHeader h1 {
        font-size: 135%;
        font-weight: bold;
        margin-left: 2%; }
    .agents .agentImg {
      display: block;
      width: 400px;
      float: right;
      margin: 0 2% 3% 3%; }
      .agents .agentImg figure img {
        width: 400px;
        float: right; }
      .agents .agentImg figure figcaption {
        width: 400px;
        float: right;
        border-bottom: 1px dotted #a8a8a8;
        margin-bottom: 15px;
        text-align: center;
        padding: 1%; }
    .agents .agentContent {
      margin-left: 3%;
      margin-right: 3%; }

  .info {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contact newsletter" "cruiseInfo cruiseInfo";
    grid-column-gap: 20px;
    margin: 0 3% 6%; }

  .copyright {
    padding: 1.5%; } }
@media only screen and (min-width: 64em) {
  .header-right {
    box-shadow: 3px 6px 6px #003366; }

  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    max-width: 1200px;
    margin: 0 auto; }

  .dropdown-content {
    min-width: 200px; }

  .newArticles h1 {
    margin-left: 0; }

  .blogArticles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "article1 article2 article3 article4";
    grid-column-gap: 10px;
    height: 400px;
    margin: 0 auto;
    max-width: 1200px;
    margin: 0 auto; }
    .blogArticles .article1 {
      margin-bottom: 2%;
      width: 290px;
      height: 290px; }
    .blogArticles .article2 {
      margin-bottom: 2%;
      width: 290px;
      height: 290px; }
    .blogArticles .article3 {
      margin-bottom: 2%;
      width: 290px;
      height: 290px; }
    .blogArticles .article4 {
      margin-bottom: 2%;
      width: 290px;
      height: 290px; }

  .cruiseContainer {
    max-width: 1200px;
    margin: 0 auto; }
    .cruiseContainer .title {
      margin-left: 0; }
    .cruiseContainer .excursion {
      display: flex;
      flex-direction: row;
      margin-left: 0;
      margin-right: 0; }
      .cruiseContainer .excursion .block1 {
        flex-grow: 1;
        margin-bottom: 3%; }
        .cruiseContainer .excursion .block1 .liner {
          width: 300px;
          height: 200px; }
      .cruiseContainer .excursion .block2 {
        flex-grow: 2;
        margin-left: 3%; }
        .cruiseContainer .excursion .block2 h2 {
          font-size: 125%;
          font-weight: bold;
          margin-bottom: 15px; }
        .cruiseContainer .excursion .block2 p {
          margin-bottom: 2%; }
        .cruiseContainer .excursion .block2 button {
          margin-bottom: 3%;
          width: 175px; }

  .form {
    max-width: 1200px;
    margin: 0 auto; }
    .form .column {
      width: 350px;
      margin-left: 0;
      margin-right: 0; }

  .agents {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 3%; }
    .agents .agentHeader {
      background-color: #FCCB51;
      margin-top: -28px;
      margin-bottom: 3%;
      padding: 15px 0; }
      .agents .agentHeader h1 {
        font-size: 135%;
        font-weight: bold;
        margin-left: 2%; }
    .agents .imgHeader img {
      float: left; }

  .info {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "contact newsletter cruiseInfo";
    grid-column-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 2%; } }
