.header-right {
    box-shadow: 3px 6px 6px #003366;
  }
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    max-width: 1200px;
    margin: 0 auto;
  }

  .dropdown-content {
    min-width: 200px;
  }

  .newArticles h1 {
    margin-left: 0;
}
.blogArticles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "article1 article2 article3 article4";
    grid-column-gap: 10px;
    height: 400px;
    margin: 0 auto;
    max-width: 1200px;
    margin: 0 auto;

    .article1 {
      margin-bottom: 2%;
      width: 290px;
      height: 290px;
  }
    .article2 {
      margin-bottom: 2%;
      width: 290px;
      height: 290px;
  }
    .article3 {
      margin-bottom: 2%;
      width: 290px;
      height: 290px;
  }
    .article4 {
      margin-bottom: 2%;
      width: 290px;
      height: 290px;
  }
}

.cruiseContainer {
  max-width: 1200px;
  margin: 0 auto;

  .title {
  margin-left: 0;
  }

  .excursion {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;

    .block1 {
      flex-grow: 1;
      margin-bottom: 3%;

      .liner {
        width: 300px;
        height: 200px;
      }
    }

    .block2 {
      flex-grow: 2;
      margin-left: 3%;

      h2 {
        font-size: 125%;
        font-weight: bold;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 2%;
      }
      button {
        margin-bottom: 3%;
        width: 175px;
      }
    }
   

  }
}


.form {
  max-width: 1200px;
  margin: 0 auto;

  .column {

    .title {
      font-size: 140%;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    input {
      width: 350px;
      padding: 5px;
      margin-bottom: 1%;
    }
    .states {
      padding: 5px;
      height: 35px;
      width: 350px;
      font-size: 100%;
    }
    .cruises {
      padding: 5px;
      height: 35px;
      width: 350px;
      font-size: 100%;
    }
    .button {
      background-color: #e9e9e9; /* Green */
      border: none;
      color: #484848;
      padding: 8px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      margin-bottom: 5%;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }

    .button2:hover {
      background-color: #2196F3;  
      color: #fff;
}
  }
}

.info {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
      "contact newsletter cruiseInfo";
      grid-column-gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
      margin-bottom: 2%;
}

