body {
    background-color: $white;
    font-family: $defaultFont;
    color: #484848;
    line-height: 1.4;
}

header {
    background-color: $bg-dark-blue;

// NEW HEADER CSS - LOGO & Phone Number
.header {
    overflow: hidden;
    background-color: $bg-dark-blue;
    max-width: 1200px;
    margin: 0 auto;
    .header a {
        float: left;
        color: $black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px; 
        line-height: 25px;
        border-radius: 4px;
      }
      
      .header a.cabotcruise {
        font-size: 25px;
        font-weight: bold;
      }
      
      .header a:hover {
        background-color: #ddd;
        color: $black;
      }
      
      .header a.active {
        background-color: #ccc;
        color: $white;
      }
      
      .header-right {
        float: right;
        padding-top: 45px;
        background-color: $orange;
        padding: 3% 2% 2%;
        .telephone {
            text-decoration: none;
            color: $telephone-blue-link;
            font-size: 130%;
            font-family: $defaultFont;
            font-weight: bold;
            margin: 0 auto;
        }
      }
      
      @media screen and (max-width: 500px) {
        .header a {
          float: none;
          display: block;
          text-align: left;
        }
        .header-right {
          float: none;
        }
    }
  }
}


input {
    font-size: 110%;
    width: 120px;
}

input[type=search]:focus {
    width: 290px;
    background-color: $white;
    border-color: #66CC75;
}

/* -------------------- MENU ------------------- */

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: $black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* ------------- DROPDOWMN SNIPPET -------------*/
  .dropdown {
      float: left;
      overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: $black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .topnav a:hover, .dropdown:hover .dropbtn {
      background-color: $orange;
      color: $black;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* ------------- END OF DROPDOWN SNIPPET ------------ */
  
  .topnav a:hover {
    background-color: #ddd;
    color: $black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: $white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  /* NEW HAMBURGER ICON RULES */
.topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
    .dropdown {
        float:none;
    }
    .dropdown .dropbtn {
        width: 600px;
        text-align: left;
    }
    .dropdown-content {
        width: 600px;
    }
  }

  /* NEW EXTRA MEDIA QUERIES FOR THE HAMBURGER ICON  */
  @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav a.active {
    color: #2196F3;
}
.menuIcon {
    color: $white;
}
.newArticles h1 {
    margin-left: 2%;
}
}

// CSS IMAGE Slider
* {box-sizing:border-box}

.cruise {
    width: 100%;
    padding-left:2%; // This is to add padding on the left margin to center the small mobile image
}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative; 
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 0;
      width: 50%;
      height: 350px;
      padding: 16px;
      color: $white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    margin-left: 3%; // This is for mobile to read the 1/4 page number
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, 
  .dot:hover {
    background-color: #2196F3;
    color: $white;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.newArticles {
    max-width: 1200px;
    margin:0 auto;
    padding-top: 3%;
    padding-bottom: 25px;
    font-size: 190%;
    color:#484848;
}
.blogArticles {
    // display: block;
   
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto;
    // grid-template-areas: 
    //     "article1 article2"
    //     "article3 article4";
    
    // max-width: 1200px;
   
    margin: 0 auto;
    display: grid;
    margin: 2%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    height: 550px;
    a {
        text-decoration: none;
    }
    .article1 {
        grid-area: article1;
        // background: url(../DGM3740/DGM3740-HTML5-Template/img/luxury.jpg) no-repeat center; 
        background-image: url("../img/luxury.jpg"); 
        background-size: cover;
        margin-bottom: 10%;
        opacity: .75;
        position: relative;
        height: 250px;
        
        div.description {
            background-color:rgba(0,0,0,0.5);
            padding: 12px;
            margin-top: 0;
            position: relative;
            top:0;
            color: $white;
            h2 {
                font-size: 160%;
                font-weight: 700;
                text-align: center;
            }
        }
        div.date {
            background-color: rgba(0,91,151,0.7); 
            color: $white;
            padding: 10px 0;
            position:absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }

    }
    .article1:hover {
        opacity: 1;
    }

    .article2 {
        grid-area: article2;
        background-image: url("../img/food.jpg");
        background-size: cover;
        margin-bottom: 10%;
        opacity: .75;
        position: relative;
        height: 250px;

        .description {
            background-color:rgba(0,0,0,0.5);
            padding: 12px;
            color: $white;
            position: relative;
            top:0;
            h2 {
                font-size: 160%;
                font-weight: 700;
                text-align: center;
            }
        }
        .date {
            background-color: rgba(0,91,151,0.7); 
            color: $white;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    }
    .article2:hover {
        opacity: 1;
    }

    .article3 {
        grid-area: article3;
        background-image: url("../img/snorkeler-with-fish.jpg");
        background-size: cover;
        margin-bottom: 10%;
        position: relative;
        opacity: .75;
        height: 250px;

        .description {
            background-color:rgba(0,0,0,0.5);
            padding: 12px;
            position: relative;
            top:0;
            color: $white;
            h2 {
                font-size: 160%;
                font-weight: 700;
                text-align: center;
            }
        }
        .date {
            background-color: rgba(0,91,151,0.7); 
            color: $white;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    }
    .article3:hover {
        opacity: 1;
    }

    .article4 {
        grid-area: article4;
        background-image: url("../img/waterfall.jpg");
        background-size: cover;
        margin-bottom: 10%;
        opacity: .75;
        position: relative;
        height: 250px;

        .description {
            background-color:rgba(0,0,0,0.5);
            padding: 12px;
            color: $white;
            position: relative;
            top:0;
            
            h2 {
                font-size: 160%;
                font-weight: 700;
                text-align: center;
            }
        }
        .date {
            background-color: rgba(0,91,151,0.7); 
            color: $white;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    }
    .article4:hover {
        opacity: 1;
    }
}

footer {
    background: $white;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C8C8C8, $white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C8C8C8, $white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "contact"
        "newsletter"
        "cruiseInfo";
    grid-column-gap: 10px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    margin: 0 3% 6% 3%;

    h2 {
        margin-top: 4%;
        margin-bottom: 3%;
        font-size: 135%;
        font-weight: 600;
    }
    .contact {
        margin-bottom: 3%;
        grid-area: contact;
        a {
            text-decoration: none;
            color: $black;
        }
        a:hover, a:active {
            color: #005b97;
        }
    }
    .newsletter {
        grid-area: newsletter;

        input {
            width: 97%;
            padding: 3% 1%;
            border-radius: 5px;
            margin-top: 4%;
          }
        button.custom {
            width: 97%;
            padding: 3% 1%;
            margin-top: 2%;
            border-radius: 5px;
            font-size: 110%;
            background-color: $orange;
        }  
        button.custom:hover, button.custom:active {
            background-color: #B0B0B0;
        }
        margin-bottom: 3%;
        margin-right: 2%;
    }
    .cruiseInfo {
        grid-area: cruiseInfo;
    }
}


.social {
    background-image: url("../img/brushed_alu_dark.png");
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    font-size: 120%;

    .icons {
        color: $white;
        font-size: 200%;
    }
    .pad {
        color: #C8C8C8;
        padding-right: 10px;
    }
    .pad:hover {
        color: #484848;
    }
    .clearfix {
        overflow: auto;
      }
}

.copyright {
    padding:5%;
    text-align: center;
    background-color: #005b97;
    color: #cce6ff;
    font-size: 95%;
    a {
        text-decoration: none;
        color: #cce6ff;
    }
    a:hover {
        color: #A9A9A9;
    }
}

